*{
    margin: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(16, 32, 32, 0.959);   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    transition: 0.5s;
}

.destaques{
    background-color: rgb(211, 193, 193);
    transition: 0.5s;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main_active{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:90px;
    transition: 0.5s;
}

.destaques_active{
    background-color: rgb(211, 193, 193);
    transition: 0.5s;
    color: rgba(10, 148, 6, 0.856);
    width: 70px;
    height: 70px;
    margin-top: 90px;
    font-size: 2em;

    display: flex;
    justify-content: center;
    align-items: center; 
}
i{
    cursor: pointer;
}
.perfil{
    border-radius: 50%;
}
.content{
    display: none;
}
.exibir_content{
    display: block;
}


dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    transition: all;
    border: none;
    width: 700px;
    height: 800px;


}