*{
    margin: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

body{
    background: rgb(139, 87, 87);    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.destaques{
    background-color: rgb(211, 193, 193);
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil{
    cursor: pointer;
}




.main_active{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:90px;
}

.destaques_active{
    background-color: rgb(211, 193, 193);
    width: 70px;
    height: 70px;
    margin-top: 90px;

    display: flex;
    justify-content: center;
    align-items: center;
}